<!DOCTYPE html>
<html lang="en">
  <%-
    include('./partials/_head', {
      title: 'Mr. Dice - Books',
      head: null
    })
  %>
  <body class="bg-black text-white"> 
    <%- include('./partials/_header') %>

    <main>

      <section id="hero">
        <div class="section">
          <div data-aos="fade-up" class="flex flex-col items-center justify-center gap-4">
            <h1 class="text-balance title uppercase text-center text-5xl md:text-6xl">Morals of Excellence</h1>
            <div class="w-[30%] h-[2px] bg-white"></div>
            <p class="text-2xl text-center title uppercase">
              Book subtitle
            </p>
          </div>

          <div class="mt-16">
            <div class="relative overflow-y-auto h-dvh w-full grid gap-5 grid-cols-2">
              <div class="sticky top-0">
                <div class="rounded-xl w-full h-80 overflow-hidden">
                  <img src="/images/book-cover.png" />
                </div>
              </div>

              <div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, beatae ratione? Libero ab repudiandae quas? Magni voluptatem reprehenderit, quisquam excepturi quibusdam tempora earum. Veniam quibusdam quis eaque aut nemo. Cumque!
                  Molestiae earum, quam est dolores provident ducimus ipsa ratione, doloremque culpa velit veniam! Repellat pariatur rem adipisci vitae, minima cupiditate error sed non sapiente, sint, ratione qui quas earum dolore!
                  Perferendis impedit quaerat a labore ducimus quia voluptate, recusandae reprehenderit, debitis beatae corrupti! Fugit, non, recusandae dolor minima totam repellendus consequuntur perferendis vel illum quos distinctio voluptate at a ab?
                </p>
                <br />
                <p>
                  Cumque molestiae earum, quam est dolores provident ducimus ipsa ratione, doloremque culpa velit veniam! Repellat pariatur rem adipisci vitae, minima cupiditate error sed non sapiente, sint, ratione qui quas earum dolore!
                  Perferendis impedit quaerat a labore ducimus quia voluptate, recusandae reprehenderit, debitis beatae corrupti! Fugit, non, recusandae dolor minima totam repellendus consequuntur perferendis vel illum quos distinctio voluptate at a ab?
                </p>
                <br />
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut tenetur maxime quam repellat corporis nulla, ipsam velit et repellendus molestias sequi, fugiat atque ut, laboriosam architecto laudantium libero quia amet!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>


      <%- include('./partials/_footer', { socials: locals.socials }) %>
    </main>
    <%- include("./partials/_scripts") %>
  </body>
</html>