<div class="relative w-dvw h-full md:grid md:grid-cols-2">

  <div class="relative overflow-x-hidden md:hidden h-full">
    <div class="absolute w-full h-full p-4">
      <p data-aos="fade-right" data-aos-delay="100" class="font-semibold">
        Ikenna Okoroafor
      </p>

      <div class="mt-2">
        <div class="h-[1px] bg-white/20 "></div>
        <h1 data-aos="fade-right" data-aos-delay="200" class="title text-[7rem] md:text-[8rem] leading-none flex justify-between gap-1">
          <span>Mr.</span>
          <span>Dice</span>
        </h1>
        <div class="h-[1px] bg-white/20 "></div>

        <p data-aos="fade-right" data-aos-delay="500" class="mt-4 bastliga text-[3.5rem] md:text-[5rem] font-thin">Ikenna Okoroafor</p>
      </div>

    </div>

    <img data-aos="fade-up" src="<%= pageData.homePage.content.noBgImage %>" class="absolute bottom-0 right-0 h-full w-full max-w-[32rem] object-cover" />
  </div>


  <div class="hidden relative md:order-2 md:grid lg:grid-cols-2 gap-2 lg:p-2">
    <img
      data-aos="fade-up"
      src="<%= pageData.homePage.content.heroImage1 %>"
      class="block h-full object-cover lg:rounded-md"
    />

    <img
      data-aos="fade-down"
      src="<%= pageData.homePage.content.heroImage2 %>"
      class="hidden lg:block h-full object-cover lg:rounded-md"
    />
  </div>

  <div class="hidden h-full md:flex relative md:order-1 flex-col justify-center gap-2 *:shrink-0 md:px-8 lg:px-16">
    <p data-aos="fade-right" class="text-lg font-semibold">Ikenna Okoroafor</p>
    <div class="h-[1px] bg-white/20"></div>
    <h1 data-aos="fade-right" data-aos-delay="100" class="title text-[7rem] md:text-[8rem] leading-none">Mr. Dice</h1>
    <div class="h-[1px] bg-white/20 "></div>
    <p data-aos="fade-right" data-aos-delay="200" class="mt-2 text-sm text-balance whitespace-pre-wrap"><%= pageData.homePage.content.introduction %></p>
    <p data-aos="fade-right" data-aos-delay="300" class="mt-3 bastliga md:text-[4rem] font-thin">Ikenna Okoroafor</p>
  </div>
</div>
