<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head', { title: 'Mr. Dice - Dashboard', head: null }) %>

  <body class="bg-black text-white flex min-w-0">
    <%- include('../partials/admin/_navbar') %>
    <main class="w-dvw lg:w-full">
      <%- include('../partials/admin/_header') %>
      <section>

      </section>
    </main>
    <%- include("../partials/_scripts") %>
  </body>
</html>