<header class="w-dvw lg:w-full bg-black/20 backdrop-blur-sm p-4 h-[4rem] border-b border-b-white/20">
  <div class="w-full h-full flex items-center gap-5 justify-between">
    <div class="flex items-center gap-3">
      <button id="admin-menu-btn" class=" border border-white/40 rounded-md grid place-content-center px-1.5 py-1 hover:bg-white/10 transition-colors">
        <span class="material-symbols-rounded" style="font-size: 1.5rem;">menu_open</span>
      </button>
      <h1 class="text-lg font-medium text-blue-500">Administrator</h1>
    </div>

    <div class="flex items-center gap-3">
      <div class="text-right">
        <p class="text-sm font-medium"><%= user.name %></p>
        <p class="text-xs"><%= user.email %></p>
      </div>

      <div class="w-12 bg-neutral-900 aspect-square rounded-full overflow-hidden">
        <%- include('../icons/user', { size: '3rem' }) %>
        <span class="material-symbols-rounded fill-white" style="font-size: 3rem">account_circle</span>
      </div>
    </div>
  </div>
</header>