<div class="nav-overlay">
  <nav class="navbar p-4">
    <header class="p-4 h-[3.5rem] border border-white/20 rounded-md grid place-content-center">
      <a href="/admin" class="block w-fit h-fit">
        <%- include('../icons/logo', { height: '22', fill: 'white' }) %>
      </a>
    </header>

    <div class="h-[calc(100dvh-8.5rem)] pt-4 overflow-y-auto">
      <div class="grid gap-2">

        <details open class="w-full px-4 py-2 hover:bg-white/10 transition-colors flex items-center gap-4 rounded-md">
          <summary class="cursor-pointer">
            <span class="ml-4">Pages</span>
          </summary>
          <div class="ml-2 grid gap-2 mt-2">
            <a href="/admin" data-admin-nav class="w-full px-4 py-2 hover:bg-white/10 transition-colors flex items-center gap-4 rounded-md">
              <span class="material-symbols-rounded" style="font-size: 1.1rem;">home</span>
              <span class="font-medium text-[0.875rem]">Home</span>
            </a>

            <a href="/admin/about-page" data-admin-nav class="w-full px-4 py-2 hover:bg-white/10 transition-colors flex items-center gap-4 rounded-md">
              <span class="material-symbols-rounded" style="font-size: 1.1rem;">info</span>
              <span class="font-medium text-[0.875rem]">About</span>
            </a>

            <a href="/admin/contact-page" data-admin-nav class="w-full px-4 py-2 hover:bg-white/10 transition-colors flex items-center gap-4 rounded-md">
              <span class="material-symbols-rounded" style="font-size: 1.1rem;">call</span>
              <span class="font-medium text-[0.875rem]">Contact</span>
            </a>
          </div>
        </details>
        
        <a href="/admin/books" data-admin-nav class="w-full px-4 py-2 hover:bg-white/10 transition-colors flex items-center gap-4 rounded-md">
          <span class="material-symbols-rounded" style="font-size: 1.25rem;">library_books</span>
          <span class="font-medium">Books</span>
        </a>

        <a href="/admin/events" data-admin-nav class="w-full px-4 py-2 hover:bg-white/10 transition-colors flex items-center gap-4 rounded-md">
          <span class="material-symbols-rounded" style="font-size: 1.25rem;">event</span>
          <span class="font-medium">Events</span>
        </a>

        <a href="/admin/users" data-admin-nav class="w-full px-4 py-2 hover:bg-white/10 transition-colors flex items-center gap-4 rounded-md">
          <span class="material-symbols-rounded" style="font-size: 1.25rem;">group</span>
          <span class="font-medium">Admins</span>
        </a>

        <a href="/admin/settings" data-admin-nav class="w-full px-4 py-2 hover:bg-white/10 transition-colors flex items-center gap-4 rounded-md">
          <span class="material-symbols-rounded" style="font-size: 1.25rem;">settings</span>
          <span class="font-medium">Settings</span>
        </a>
      </div>
    </div>

    <footer class="h-[4rem] flex items-center justify-center">
      <button class="btn secondary w-full rounded-md">
        Log Out
      </button>
    </footer>
  </nav>
</div>